# Which animals are most likely to bite humans? Are some dog breeds more likely to bite? What factors are most strongly associated with a positive rabies ID?

bite_date: The date the bite occurred
SpeciesIDDesc: The species of animal that did the biting
BreedIDDesc: Breed (if known)
GenderIDDesc: Gender (of the animal)
color: color of the animal
vaccination_yrs: how many years had passed since the last vaccination
vaccination_date: the date of the last vaccination
victim_zip: the zipcode of the victim
AdvIssuedYNDesc: whether advice was issued
WhereBittenIDDesc: Where on the body the victim was bitten
quarantine_date: whether the animal was quarantined
DispositionIDDesc: whether the animal was released from quarantine
head_sent_date: the date the animalâ€™s head was sent to the lab
release_date: the date the animal was released
ResultsIDDesc: results from lab tests (for rabies)

In [301]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [303]:
df = pd.read_csv('Health_AnimalBites.csv')

In [304]:
df.head()

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05 00:00:00,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
1,1986-02-12 00:00:00,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
2,1987-05-07 00:00:00,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
3,1988-10-02 00:00:00,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
4,1989-08-29 00:00:00,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaN,UNKNOWN,NaN,NaN,UNKNOWN

In [305]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9003 entries, 0 to 9002
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bite_date          8686 non-null   object
 1   SpeciesIDDesc      8885 non-null   object
 2   BreedIDDesc        3759 non-null   object
 3   GenderIDDesc       6477 non-null   object
 4   color              6426 non-null   object
 5   vaccination_yrs    3738 non-null   float64
 6   vaccination_date   4115 non-null   object
 7   victim_zip         7165 non-null   object
 8   AdvIssuedYNDesc    2565 non-null   object
 9   WhereBittenIDDesc  8387 non-null   object
 10  quarantine_date    2020 non-null   object
 11  DispositionIDDesc  1535 non-null   object
 12  head_sent_date     395 non-null    object
 13  release_date       1445 non-null   object
 14  ResultsIDDesc      1543 non-null   object
dtypes: float64(1), object(14)
memory usage: 1.0+ MB

In [307]:
df.isnull().sum()

bite_date             317
SpeciesIDDesc         118
BreedIDDesc          5244
GenderIDDesc         2526
color                2577
vaccination_yrs      5265
vaccination_date     4888
victim_zip           1838
AdvIssuedYNDesc      6438
WhereBittenIDDesc     616
quarantine_date      6983
DispositionIDDesc    7468
head_sent_date       8608
release_date         7558
ResultsIDDesc        7460
dtype: int64

# Which animals are most likely to bite humans?

In [308]:
df['SpeciesIDDesc'].value_counts()

DOG        7029
CAT        1568
BAT         237
RACCOON      27
OTHER        11
HORSE         5
FERRET        4
RABBIT        3
SKUNK         1
Name: SpeciesIDDesc, dtype: int64

# Are some dog breeds more likely to bite?

In [332]:
df[df['SpeciesIDDesc']=='DOG'].BreedIDDesc.value_counts()

PIT BULL           1101
GERM SHEPHERD       327
LABRADOR RETRIV     253
BOXER               181
CHICHAUHUA          165
                   ...
RED HEELER            1
BRIARD                1
CHOCOLATE LAB.        1
OLD ENG SHP DOG       1
IRISH WOLFHOUND       1
Name: BreedIDDesc, Length: 101, dtype: int64

# What factors are most strongly associated with a positive rabies ID?

In [341]:
df[df['ResultsIDDesc'] == 'UNKNOWN']

,bite_date,SpeciesIDDesc,BreedIDDesc,GenderIDDesc,color,vaccination_yrs,vaccination_date,victim_zip,AdvIssuedYNDesc,WhereBittenIDDesc,quarantine_date,DispositionIDDesc,head_sent_date,release_date,ResultsIDDesc
0,1985-05-05 00:00:00,DOG,NaN,FEMALE,LIG. BROWN,1.0,1985-06-20 00:00:00,40229,NO,BODY,1985-05-05 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
1,1986-02-12 00:00:00,DOG,NaN,UNKNOWN,BRO & BLA,NaN,NaN,40218,NO,BODY,1986-02-12 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
2,1987-05-07 00:00:00,DOG,NaN,UNKNOWN,NaN,NaN,NaN,40219,NO,BODY,1990-05-07 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
3,1988-10-02 00:00:00,DOG,NaN,MALE,BLA & BRO,NaN,NaN,NaN,NO,BODY,1990-10-02 00:00:00,UNKNOWN,NaN,NaN,UNKNOWN
4,1989-08-29 00:00:00,DOG,NaN,FEMALE,BLK-WHT,NaN,NaN,NaN,NO,BODY,NaN,UNKNOWN,NaN,NaN,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,NaN,BAT,NaN,NaN,NaN,NaN,NaN,40220,YES,NaN,NaN,NaN,2015-04-04 00:00:00,NaN,UNKNOWN
1680,NaN,BAT,NaN,NaN,NaN,NaN,NaN,40205,YES,NaN,NaN,NaN,2016-07-06 00:00:00,NaN,UNKNOWN
1681,NaN,BAT,NaN,NaN,NaN,NaN,NaN,40222,NaN,NaN,NaN,NaN,2016-07-22 00:00:00,NaN,UNKNOWN
1682,NaN,BAT,NaN,NaN,NaN,NaN,NaN,40203,NaN,NaN,NaN,NaN,2016-08-03 00:00:00,NaN,UNKNOWN
1683,NaN,BAT,NaN,NaN,NaN,NaN,NaN,40205,NaN,NaN,NaN,NaN,2016-09-16 00:00:00,NaN,UNKNOWN